
<%= provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>      
    </section>
  </aside>
</div>




<!--<%#= @user.name %>,<%#= @user.email %>,-->

<!-- 演習1-->
<!--<h1><%#= @user.created_at %></h1>-->
<!--<p><%#= @user.updated_at %></p>-->

<!-- 演習2-->
<!--<h2><%#= Time.now %></h2>-->